<p class="contactinfo"><a href="{{ "#bio" | relURL }}">Bio</a></p>
{{ with .GetPage "/sections/contact.md" }}
<p class="contactinfo"><a href="{{ "#contact" | relURL }}">Contact</a></p>
{{ end }}
{{ with .GetPage "/sections/office-hours.md" }}
<p class="contactinfo"><a href="{{ "#officehours" | relURL }}">Office Hours</a></p>
{{ end }}
<p class="contactinfo"><a href="{{ "#publications" | relURL }}">Publications</a></p>
<p class="contactinfo"><a href="{{ "#inprogress" | relURL }}">In Progress</a></p>
<p class="contactinfo"><a href="{{ "#merelyideas" | relURL }}">Merely Ideas</a></p>
{{ with .GetPage "/sections/teaching.md" }}
<p class="contactinfo"><a href="{{ "#teaching" | relURL }}">Teaching</a></p>
{{ end }}
{{ with .GetPage "/sections/previous-lives.md" }}
<p class="contactinfo"><a href="{{ "#previouslives" | relURL }}">Previous Lives</a></p>
{{ end }}
{{ with .GetPage "/sections/cv.md" }}
<p class="lastcontactinfo"><a href="{{ "#cv" | relURL }}">Curriculum Vitae</a></p>
{{ end }}
